.error {
	background-color: $box-background-error;
}

.error div.header {
	font-size: 26px;
	font-weight: bold;
	margin-top: 0;
}

.error div.message {
	font-size: 20px;
	margin-top: 10px;
}