.error {
	position: relative;
	margin: 20px;
	padding: 30px;
	border-radius: 10px;
	background-color: #fcc;
	font-family: arial;
}

.error div.header {
	font-size: 26px;
	font-weight: bold;
	margin-top: 0;
}

.error div.message {
	font-size: 20px;
	margin-top: 10px;
}

.error div.close {
	position: absolute;
	right: 12px;
	top: 10px;
	text-decoration: underline;
	cursor: pointer;
}