.header {
	background-color: $box-background-header;
	padding: $box-margin ($box-margin + $box-padding / 2) ($box-margin - $box-padding / 2) ($box-margin + $box-padding / 2);
}

.header:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}

.header .title {
	float: left;
	margin-bottom: $box-padding / 2;
}

.header h1 {
	margin: 0;
	font-size: 140%;
}

.header h1 sup {
	position: relative;
	top: -4px;
	left: 4px;
	font-size: 50%;
}

.header h2 {
	margin: 0;
	font-size: 70%;
}

.header .menu {
	float: right;
}

.header .menu .button {
	display: block;
	-webkit-border-radius: $box-border-radius;
	-moz-border-radius: $box-border-radius;
	-ms-border-radius: $box-border-radius;
	border-radius: $box-border-radius;
	border: dashed #3A3251 1px;
	float: right;
	padding: 10px;
	margin-left: $box-padding / 2;
	margin-bottom: $box-padding / 2;
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.header .menu .button:hover {
	background-color: #3A3251;
	color: #fff;
}