.help-button {
	display: inline-block;
	padding: 4px 8px;
	margin: 4px 4px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8spx;
	border: dashed 1px;
	transition: all $transition-speed ease;
	cursor: default;
}

.help-button:hover {
	background-color: #000;
	color: #fff;
	border: solid #000 1px;
}

.help-button-menu {
	background-image: url(/img/jeans.png);
	border-color: #fff;
	color: #fff;
}

.help-button-menu:hover {
	background-image: none;
	background-color: #fff;
	color: #000;
	border-color: #008;
}

.help-button-green {
	border-color: #6c6;
}

.help-button-green:hover {
	background-color: #6c6;
	border-color: #6c6;
	color: #fff;
}

.help-button-red {
	border-color: red;
	color: red;
}

.help-button-red:hover {
	background-color: red;
	border-color: red;
	color: #fff;
}
