p {
	margin: $box-margin ($box-margin + $box-padding / 2) 0 ($box-margin + $box-padding / 2);
}

h2 {
	margin: ($box-margin + $box-padding / 2) ($box-margin + $box-padding / 2) $box-margin ($box-margin + $box-padding / 2);
	font-size: 140%;
	font-weight: normal;
}

ol.library-set {
	margin: $box-margin ($box-margin + $box-padding / 2);
}

ol.library-set li span {
	color: #ccc;
	font-size: 80%;
}