p {
	margin: $box-margin ($box-margin + $box-padding / 2) 0 ($box-margin + $box-padding / 2);
}

h2 {
	margin: ($box-margin + $box-padding / 2) ($box-margin + $box-padding / 2) $box-margin ($box-margin + $box-padding / 2);
	font-size: 140%;
	font-weight: normal;
}

.library-set {
	float: left;
	width: 50%;
}

.library-set ol {
	margin: $box-margin ($box-margin + $box-padding / 2);
}

.library-set li span {
	color: #ccc;
	font-size: 80%;
}