.page {
	padding: 0;
	margin: 0;
}


@media print
{
	.page {
		float: left;
	}
}

@media print and (orientation:landscape)
{
	.page {
		width: 50%;
		overflow: visible;
		page-break-inside: avoid;
	}

	.square {
		font-size: 70px;
	}
}