.task {
}

.task:hover {
	background-color: $box-background-task;
}

.task:nth-child(5n+6) {
	margin-top: 40px;
}

@media print {
	.task:nth-child(5n+6) {
		margin-top: 20px;
	}
}

.task .pagebreak {
	display: none;
	width: 100px;
	text-align: center;
	position: absolute;
	left: 50%;
	bottom: 100%;
	margin-left: -50px;
	margin-bottom: 12px;
}

.task .pagebreak:before,
.task .pagebreak:after {
	top: 7px;
	height: 5px;
	border-top-style: dotted;
	border-bottom-style: dotted;
	content: ' ';
	width: 1000px;
	position: absolute;
	border-width: 1px;
	border-color: #bbb;
}

.task .pagebreak:before {
	right: 100%;
}

.task .pagebreak:after {
	left: 100%;
}

.task:nth-child(5n+6) .pagebreak {
	display: block;
}

.task:nth-child(5n+6) {
	page-break-before: always;
}

.task div.controls {
	display: none;
}

.task:hover div.controls {
	display: block;
}

$square_size: 100px;
$square_size: 100px;

.task > div.square {
	float: left;
	height: $square_size;
	width: $square_size;
}

.task > div.text {
	display: inline-block;
	width: auto;
	min-width: $square_size;
	font-size: $square_size;
	text-align: center;
	line-height: $square_size;
}

.task > div.answer {
	border: solid black $square_size * 0.02;
	margin: $square_size * -0.02 $square_size * 0.1 0 $square_size * 0.1;
}

.task > div.answer.moreless {
	margin-left: $square_size * 0.5;
	margin-right: $square_size * 0.5;
}

.task > div.objects {
	position: relative;
	text-align: auto;
}

.task > div.objects img {
	position: absolute;
}

@mixin obj-img-size ( $size ) {
	width: $size;
	height: $size;
}

// Horisontals

@mixin obj-img-h-l ( $size ) {
	left: 0;
}

@mixin obj-img-h-lm ( $size ) {
	left: 50%;
	margin-left: $size * -0.25 - 25%;
}

@mixin obj-img-h-m ( $size ) {
	left: 50%;
	margin-left: $size * -0.5;
}

@mixin obj-img-h-rm ( $size ) {
	left: 50%;
	margin-left: 25% - $size * 0.75;
}

@mixin obj-img-h-r ( $size ) {
	right: 0;
}

// Vericals

@mixin obj-img-v-t ( $size ) {
	top: 0;
}

@mixin obj-img-v-tm ( $size ) {
	top: 50%;
	margin-top: $size * -0.25 - 25%;
}

@mixin obj-img-v-m ( $size ) {
	top: 50%;
	margin-top: $size * -0.5;
}

@mixin obj-img-v-bm ( $size ) {
	top: 50%;
	margin-top: 25% - $size * 0.75;
}

@mixin obj-img-v-b ( $size ) {
	bottom: 0;
}


// one

$obj_1_size: 80%;

.task .objects.count-1 img {
	@include obj-img-size($obj_1_size);
	@include obj-img-h-m($obj_1_size);
	@include obj-img-v-m($obj_1_size);
}

// two

$obj_2_size: 50%;

.task .objects.count-2 img {
	@include obj-img-size($obj_2_size);
}

.task .objects.count-2 img:nth-child(2) {
	@include obj-img-h-r($obj_2_size);
	@include obj-img-v-b($obj_2_size);
}

// three

$obj_34_size: 45%;

.task .objects.count-3 img {
	@include obj-img-size($obj_34_size);
}

.task .objects.count-3 img:nth-child(2) {
	@include obj-img-h-r($obj_34_size);
	@include obj-img-v-t($obj_34_size);
}

.task .objects.count-3 img:nth-child(3) {
	@include obj-img-h-m($obj_34_size);
	@include obj-img-v-b($obj_34_size);
}

// four

.task .objects.count-4 img {
	@include obj-img-size($obj_34_size);
}

.task .objects.count-4 img:nth-child(2) {
	@include obj-img-h-r($obj_34_size);
	@include obj-img-v-t($obj_34_size);
}

.task .objects.count-4 img:nth-child(3) {
	@include obj-img-h-l($obj_34_size);
	@include obj-img-v-b($obj_34_size);
}

.task .objects.count-4 img:nth-child(4) {
	@include obj-img-h-r($obj_34_size);
	@include obj-img-v-b($obj_34_size);
}

// five

$obj_5_size: 33%;

.task .objects.count-5 img {
	@include obj-img-size($obj_5_size);
}

.task .objects.count-5 img:nth-child(2) {
	@include obj-img-h-r($obj_5_size);
	@include obj-img-v-t($obj_5_size);
}

.task .objects.count-5 img:nth-child(3) {
	@include obj-img-h-m($obj_5_size);
	@include obj-img-v-m($obj_5_size);
}

.task .objects.count-5 img:nth-child(4) {
	@include obj-img-h-l($obj_5_size);
	@include obj-img-v-b($obj_5_size);
}

.task .objects.count-5 img:nth-child(5) {
	@include obj-img-h-r($obj_5_size);
	@include obj-img-v-b($obj_5_size);
}

// six

$obj_6789_size: 28%;

.task .objects.count-6 img {
	@include obj-img-size($obj_6789_size);
}

.task .objects.count-6 img:nth-child(1) {
	@include obj-img-h-l($obj_6789_size);
	@include obj-img-v-tm($obj_6789_size);
}

.task .objects.count-6 img:nth-child(2) {
	@include obj-img-h-m($obj_6789_size);
	@include obj-img-v-tm($obj_6789_size);
}

.task .objects.count-6 img:nth-child(3) {
	@include obj-img-h-r($obj_6789_size);
	@include obj-img-v-tm($obj_6789_size);
}

.task .objects.count-6 img:nth-child(4) {
	@include obj-img-h-l($obj_6789_size);
	@include obj-img-v-bm($obj_6789_size);
}

.task .objects.count-6 img:nth-child(5) {
	@include obj-img-h-m($obj_6789_size);
	@include obj-img-v-bm($obj_6789_size);
}

.task .objects.count-6 img:nth-child(6) {
	@include obj-img-h-r($obj_6789_size);
	@include obj-img-v-bm($obj_6789_size);
}

// seven

.task .objects.count-7 img {
	@include obj-img-size($obj_6789_size);
}

.task .objects.count-7 img:nth-child(1) {
	@include obj-img-h-lm($obj_6789_size);
	@include obj-img-v-t($obj_6789_size);
}

.task .objects.count-7 img:nth-child(2) {
	@include obj-img-h-rm($obj_6789_size);
	@include obj-img-v-t($obj_6789_size);
}

.task .objects.count-7 img:nth-child(3) {
	@include obj-img-h-l($obj_6789_size);
	@include obj-img-v-m($obj_6789_size);
}

.task .objects.count-7 img:nth-child(4) {
	@include obj-img-h-m($obj_6789_size);
	@include obj-img-v-m($obj_6789_size);
}

.task .objects.count-7 img:nth-child(5) {
	@include obj-img-h-r($obj_6789_size);
	@include obj-img-v-m($obj_6789_size);
}

.task .objects.count-7 img:nth-child(6) {
	@include obj-img-h-lm($obj_6789_size);
	@include obj-img-v-b($obj_6789_size);
}

.task .objects.count-7 img:nth-child(7) {
	@include obj-img-h-rm($obj_6789_size);
	@include obj-img-v-b($obj_6789_size);
}

// eight

.task .objects.count-8 img {
	@include obj-img-size($obj_6789_size);
}

.task .objects.count-8 img:nth-child(2) {
	@include obj-img-h-m($obj_6789_size);
	@include obj-img-v-t($obj_6789_size);
}

.task .objects.count-8 img:nth-child(3) {
	@include obj-img-h-r($obj_6789_size);
	@include obj-img-v-t($obj_6789_size);
}

.task .objects.count-8 img:nth-child(4) {
	@include obj-img-h-lm($obj_6789_size);
	@include obj-img-v-m($obj_6789_size);
}

.task .objects.count-8 img:nth-child(5) {
	@include obj-img-h-rm($obj_6789_size);
	@include obj-img-v-m($obj_6789_size);
}

.task .objects.count-8 img:nth-child(6) {
	@include obj-img-h-l($obj_6789_size);
	@include obj-img-v-b($obj_6789_size);
}

.task .objects.count-8 img:nth-child(7) {
	@include obj-img-h-m($obj_6789_size);
	@include obj-img-v-b($obj_6789_size);
}

.task .objects.count-8 img:nth-child(8) {
	@include obj-img-h-r($obj_6789_size);
	@include obj-img-v-b($obj_6789_size);
}

// nine

.task .objects.count-9 img {
	@include obj-img-size($obj_6789_size);
}

.task .objects.count-9 img:nth-child(2) {
	@include obj-img-h-m($obj_6789_size);
	@include obj-img-v-t($obj_6789_size);
}

.task .objects.count-9 img:nth-child(3) {
	@include obj-img-h-r($obj_6789_size);
	@include obj-img-v-t($obj_6789_size);
}

.task .objects.count-9 img:nth-child(4) {
	@include obj-img-h-l($obj_6789_size);
	@include obj-img-v-m($obj_6789_size);
}

.task .objects.count-9 img:nth-child(5) {
	@include obj-img-h-m($obj_6789_size);
	@include obj-img-v-m($obj_6789_size);
}

.task .objects.count-9 img:nth-child(6) {
	@include obj-img-h-r($obj_6789_size);
	@include obj-img-v-m($obj_6789_size);
}

.task .objects.count-9 img:nth-child(7) {
	@include obj-img-h-l($obj_6789_size);
	@include obj-img-v-b($obj_6789_size);
}

.task .objects.count-9 img:nth-child(8) {
	@include obj-img-h-m($obj_6789_size);
	@include obj-img-v-b($obj_6789_size);
}

.task .objects.count-9 img:nth-child(9) {
	@include obj-img-h-r($obj_6789_size);
	@include obj-img-v-b($obj_6789_size);
}