@import 'task_page';

.task {
	transition: background-color $transition-speed ease;
	white-space: nowrap;
	line-height: 0;
}

.task:hover {
	background-color: $box-background-task;
}

.task div.controls {
	display: none;
}

.task:hover div.controls {
	display: block;
}

// Task structure

@mixin task-square-sizer ( $square_size )
{
	.task > div.square {
		display: inline-block;
		height: $square_size;
		width: $square_size;
	}

	.task > div.text {
		width: auto;
		min-width: $square_size;
		font-size: $square_size;
		text-align: center;
		line-height: $square_size;
		vertical-align: top;
	}

	.task > div.answer {
		border: solid black $square_size * 0.02;
		margin: 0 $square_size * 0.1;
	}

	.task > div.answer.moreless {
		margin-left: $square_size * 0.5;
		margin-right: $square_size * 0.5;
	}
}

$base_square_size: 100px;

@include task-square-sizer($base_square_size);

@media print and (orientation:landscape)
{
	@include task-square-sizer($base_square_size * 0.7);

	.task {
		margin: $box-margin * 0.7;
		padding: $box-padding * 0.7;
	}
}

.task > div.objects {
	position: relative;
	text-align: auto;
}

.task > div.objects img {
	position: absolute;
}

@import 'task_objects';