body {
	font-family: arial;
	margin: 100px 0 0 0;
}

@import 'box';
@import 'header';
@import 'task';
@import 'error';
@import 'editor';

.big-button {
	margin: $box-margin ($box-margin + $box-padding / 2);
	border: dashed $box-background-add 1px;
	text-align: center;
	font-size: 24px;
	cursor: pointer;
}

.big-button:hover {
	background-color: $box-background-add;
	color: #fff;
}

@media print {
	.noprint {
		display: none !important;
	}

	body {
		margin: 0;
	}
}