body {
	font-family: arial;
}

@import 'box';
@import 'task';
@import 'error';
@import 'editor';
@import 'controls';

.big-button {
	background-color: $box-background-add;
	text-align: center;
	font-size: 24px;
	cursor: pointer;
}

@media print {
	.noprint {
		display: none !important;
	}
}