<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><% title %></title>
	<meta name="description" content="<% description %>">
	<meta name="version" content="<% version %>">
	<meta name="author" content="<% author %>">
	<meta property="og:image" content="/img/fb.png">
	<script src="js/build.js?v=<% version %>"></script>
	<link rel="stylesheet" type="text/css" href="css/build.css?v=<% version %>">
</head>
<body>

<div class="header noprint">
	<div class="title">
		<h1><% title %><sup><a href="<% repo %>">v<% version %></a></sup></h1>
		<h2><% description %></h2>
	</div>
	<div class="menu">
		<div id="print-button" class="button">Print out the sheet below</div>
		<!--a class="button" href="#">Go to library</a>
		<a class="button" href="#">About</a>
		<a class="button" href="#">Go to library</a-->
	</div>
</div>

<div id="tasks-container"></div>
<div id="add-new-button" class="box big-button noprint">+ Add a new task</div>
<script>

$(function()
{
	PapasSheet.init();
	PapasTrack.init('<% ga %>');
});

</script>
</body>
</html>