.task {
	margin: 50px;
}

.task:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}

.task > div {
	float: left;
	height: 100px;
	width: 100px;
	font-family: arial;
	font-size: 100px;
	text-align: center;
	line-height: 100px;
}

.task .operator {
	width: 80px;
}

.task .answer {
	border: solid black 4px;
	margin-left: 10px;
	margin-top: -4px;
}

.task .objects {
	position: relative;
}

.task .objects div {
	position: absolute;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.task .objects.apples div {
	background-image: url(objects/apple.png);
}



.task .objects.count-1 div {
	width: 80px;
	height: 80px;
	left: 10px;
	top: 10px;
}



.task .objects.count-2 div {
	width: 50px;
	height: 50px;
}

.task .objects.count-2 div:nth-child(2) {
	left: 50px;
	top: 50px;
}



.task .objects.count-3 div {
	width: 45px;
	height: 45px;
}

.task .objects.count-3 div:nth-child(2) {
	left: 55px;
}

.task .objects.count-3 div:nth-child(3) {
	left: 27px;
	top: 55px;
}



.task .objects.count-4 div {
	width: 45px;
	height: 45px;
}

.task .objects.count-4 div:nth-child(2) {
	left: 55px;
}

.task .objects.count-4 div:nth-child(3) {
	top: 55px;
}

.task .objects.count-4 div:nth-child(4) {
	left: 55px;
	top: 55px;
}



.task .objects.count-5 div {
	width: 35px;
	height: 35px;
}

.task .objects.count-5 div:nth-child(2) {
	left: 65px;
}

.task .objects.count-5 div:nth-child(3) {
	left: 32px;
	top: 32px;
}

.task .objects.count-5 div:nth-child(4) {
	top: 65px;
}

.task .objects.count-5 div:nth-child(5) {
	left: 65px;
	top: 65px;
}



.task .objects.count-6 div {
	width: 32px;
	height: 32px;
}

.task .objects.count-6 div:nth-child(1) {
	top: 8px;
}

.task .objects.count-6 div:nth-child(2) {
	top: 8px;
	left: 68px;
}

.task .objects.count-6 div:nth-child(3) {
	left: 34px;
	top: 20px;
}

.task .objects.count-6 div:nth-child(4) {
	top: 56px;
}

.task .objects.count-6 div:nth-child(5) {
	left: 68px;
	top: 56px;
}

.task .objects.count-6 div:nth-child(6) {
	left: 34px;
	top: 68px;
}



.task .objects.count-7 div {
	width: 32px;
	height: 32px;
}

.task .objects.count-7 div:nth-child(1) {
	left: 17px;
}

.task .objects.count-7 div:nth-child(2) {
	left: 51px;
}

.task .objects.count-7 div:nth-child(3) {
	top: 34px;
}

.task .objects.count-7 div:nth-child(4) {
	left: 34px;
	top: 34px;
}

.task .objects.count-7 div:nth-child(5) {
	left: 68px;
	top: 34px;
}

.task .objects.count-7 div:nth-child(6) {
	left: 17px;
	top: 68px;
}

.task .objects.count-7 div:nth-child(7) {
	left: 51px;
	top: 68px;
}



.task .objects.count-8 div {
	width: 32px;
	height: 32px;
}

.task .objects.count-8 div:nth-child(2) {
	left: 34px;
}

.task .objects.count-8 div:nth-child(3) {
	left: 68px;
}

.task .objects.count-8 div:nth-child(4) {
	left: 17px;
	top: 34px;
}

.task .objects.count-8 div:nth-child(5) {
	left: 51px;
	top: 34px;
}

.task .objects.count-8 div:nth-child(6) {
	top: 68px;
}

.task .objects.count-8 div:nth-child(7) {
	left: 34px;
	top: 68px;
}

.task .objects.count-8 div:nth-child(8) {
	left: 68px;
	top: 68px;
}



.task .objects.count-9 div {
	width: 32px;
	height: 32px;
}

.task .objects.count-9 div:nth-child(2) {
	left: 34px;
}

.task .objects.count-9 div:nth-child(3) {
	left: 68px;
}

.task .objects.count-9 div:nth-child(4) {
	top: 34px;
}

.task .objects.count-9 div:nth-child(5) {
	left: 34px;
	top: 34px;
}

.task .objects.count-9 div:nth-child(6) {
	left: 68px;
	top: 34px;
}

.task .objects.count-9 div:nth-child(7) {
	top: 68px;
}

.task .objects.count-9 div:nth-child(8) {
	left: 34px;
	top: 68px;
}

.task .objects.count-9 div:nth-child(9) {
	left: 68px;
	top: 68px;
}